@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Popins";
}
/* No seu arquivo de CSS global */
@layer base {
  html,
  body {
    @apply bg-zinc-50 dark:bg-zinc-950;
  }
}
